<section class="content content_gallery">
    <section class="content_heading">
        <h3 class="content-text_header">our gallery</h3>
        <p class="content-text_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
    </section>
    <section class="container_gallery">
        <section class="gallery">
            <div class="gallery_filter"></div>
            <div class="event_presentation">
                <div class="event event__md">
                    <img class="event-background" src="img/event/1.jpg" alt="event-1"/>
                    <div class="hover-text">
                        <h3 class="event-name">management conference</h3>
                        <h3 class="event-manager">By : Jhtyg Hyuir</h3>
                        <p class="event-descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt</p>
                    </div>
                </div>
                <div class="event event__sm">
                        <img class="event-background" src="img/event/2.jpg" alt="event-1">
                    <div class="hover-text">
                        <h3 class="event-name">music concert</h3>
                        <h3 class="event-manager">By : Jhtyg Hyuir</h3>
                        <p class="event-descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt</p>
                    </div>
                </div>
                <div class="event event__sm">
                        <img class="event-background" src="img/event/3.jpg" alt="event-1">
                    <div class="hover-text">
                        <h3 class="event-name">birthday party</h3>
                        <h3 class="event-manager">By : Jhtyg Hyuir</h3>
                        <p class="event-descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt</p>
                    </div>
                </div>
                <div class="event event__md">
                        <img class="event-background" src="img/event/4.jpg" alt="event-1">
                    <div class="hover-text">
                        <h3 class="event-name">wedding party</h3>
                        <h3 class="event-manager">By : Jhtyg Hyuir</h3>
                        <p class="event-descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt</p>
                    </div>
                </div>
                <div class="event event__md">
                        <img class="event-background" src="img/event/5.jpg" alt="event-1">
                    <div class="hover-text">
                        <h3 class="event-name">management conference</h3>
                        <h3 class="event-manager">By : Jhtyg Hyuir</h3>
                        <p class="event-descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt</p>
                    </div>
                </div>
                <div class="event event__sm">
                        <img class="event-background" src="img/event/6.jpg" alt="event-1">
                    <div class="hover-text">
                        <h3 class="event-name">photography</h3>
                        <h3 class="event-manager">By : Jhtyg Hyuir</h3>
                        <p class="event-descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt</p>
                    </div>
                </div>
            </div>
        </section>
    </section>
</section>
