<footer>
    <section class="footer_content-column">
        <a href="#">
            <img src="./img/logo.png" alt="Logo_of_ATR_Hotel"/>
        </a>
        <p>
            Lorem ipsum dolor sit amet, conse acteir our adipisicing elit, sed do eiusmod the a tempor the incididunt ut
            labore et dolore magnaa liqua. Ut enim minimn.
        </p>
        <div class="social-icons social-icons__bordered">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
            <i class="fas fa-rss"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-pinterest-p"></i>
        </div>
    </section>
    <section class="footer_content-column">
        <h3 class="content-text_header">contact us</h3>
        <div class="wrapper">
            <i class="fas fa-map-marker-alt"></i>
            <p class="content-text_description">House No 27, Road No 07,
                East Road, Dhaka, Bangladesh</p>
        </div>
        <div class="wrapper">
            <i class="fas fa-envelope"></i>
            <div class="wrapper-vert">
                <a href="mailto:devitems@gmail.com" class="content-text_description">devitems@gmail.com</a>
                <a href="mailto:support@devitems.com" class="content-text_description">support@devitems.com</a>
            </div>
        </div>
        <div class="wrapper">
            <i class="fas fa-phone"></i>
            <div class="wrapper-vert">
                <a href="tel:+66025624857" class="content-text_description">+660 256 24857</a>
                <a href="tel:+66025624857" class="content-text_description">+660 256 24857</a>
            </div>
        </div>
    </section>
    <section class="footer_content-column">
        <h3 class="content-text_header">quick links</h3>
        <ul class="footer-list">
            <li><a href="#">home</a></li>
            <li><a href="#">staff</a></li>
            <li><a href="#">suits & rooms</a></li>
            <li><a href="#">event</a></li>
            <li><a href="#">contact</a></li>
        </ul>
    </section>
    <section class="footer_content-column">
        <h3 class="content-text_header">collections</h3>
        <div class="footer_gallery">
            <div class="photo">
                <div class="gallery-img_overlay">
                    <i class="fas fa-link"></i>
                </div>
                <img src="img/footer/1.jpg" alt="footer-1">
            </div>
            <div class="photo">
                <div class="gallery-img_overlay">
                    <i class="fas fa-link"></i>
                </div>
                <img src="img/footer/2.jpg" alt="footer-2">
            </div>
            <div class="photo">
                <div class="gallery-img_overlay">
                    <i class="fas fa-link"></i>
                </div>
                <img src="img/footer/3.jpg" alt="footer-3">
            </div>
            <div class="photo">
                <div class="gallery-img_overlay">
                    <i class="fas fa-link"></i>
                </div>
                <img src="img/footer/4.jpg" alt="footer-4">
            </div>
            <div class="photo">
                <div class="gallery-img_overlay">
                    <i class="fas fa-link"></i>
                </div>
                <img src="img/footer/5.jpg" alt="footer-5">
            </div>
            <div class="photo">
                <div class="gallery-img_overlay">
                    <i class="fas fa-link"></i>
                </div>
                <img src="img/footer/6.jpg" alt="footer-6">
            </div>
        </div>
    </section>
</footer>
