<section class="content content_gallery">
    <section class="content_heading">
        <h3 class="content-text_header">our gallery</h3>
        <p class="content-text_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
    </section>
    <section class="container_gallery">
        <section class="gallery">
            <div class="gallery_filter"></div>
            <div class="gallery_presentation">
                <div class="gallery_image gallery_image__full">
                    <img src="img/gallery/1.jpg" alt="gallery-1" />
                    <div class="gallery-img_overlay">
                        <i class="fas fa-link"></i>
                        <i class="fas fa-search-plus"></i>
                    </div>
                </div>
                <div class="gallery_image gallery_image__sm">
                    <img  src="img/gallery/2.jpg" alt="gallery-2" />
                    <div class="gallery-img_overlay">
                        <i class="fas fa-link"></i>
                        <i class="fas fa-search-plus"></i>
                    </div>
                </div>
                <div class="gallery_image gallery_image__md">
                    <img src="img/gallery/5.jpg" alt="gallery-3" />
                    <div class="gallery-img_overlay">
                        <i class="fas fa-link"></i>
                        <i class="fas fa-search-plus"></i>
                    </div>
                </div>
                <div class="gallery_image gallery_image__md">
                    <img src="img/gallery/3.jpg" alt="gallery-4" />
                    <div class="gallery-img_overlay">
                        <i class="fas fa-link"></i>
                        <i class="fas fa-search-plus"></i>
                    </div>
                </div>
                <div class="gallery_image gallery_image__sm">
                    <img src="img/gallery/4.jpg" alt="gallery-5" />
                    <div class="gallery-img_overlay">
                        <i class="fas fa-link"></i>
                        <i class="fas fa-search-plus"></i>
                    </div>
                </div>
                <div class="gallery_image gallery_image__full">
                    <img  src="img/gallery/6.jpg" alt="gallery-6" />
                    <div class="gallery-img_overlay">
                        <i class="fas fa-link"></i>
                        <i class="fas fa-search-plus"></i>
                    </div>
                </div>
            </div>
        </section>
    </section>
</section>
