<header class="">
    <a class="header_logo" href="index.html">
        <img src="./img/logo.png" alt="Logo_of_ATR_Hotel"/>
    </a>
    <nav>
        <div class="header_block">
            <section class="contacts">
                <div class="wrapper">
                    <p class="header_p__colored">Contact: </p>
                    <a href="telto:0088234675827">0088-234-675-827</a>
                </div>
                <div class="social-icons">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fas fa-rss"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-pinterest-p"></i>
                </div>
            </section>
            <input type="checkbox" id="hamburger-checkbox"/>
            <label class="nav-icon3" for="hamburger-checkbox">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </label>
            <ul class="navigation">
                <li>
                    <a href="#">home</a>
                </li>
                <li>
                    <a href="./rooms.html">rooms</a>
                </li>
                <li>
                    <a href="./event.html">activities</a>
                </li>
                <li>
                    <a href="./location.html">location</a>
                </li>
                <li>
                    <a href="./event.html">event</a>
                </li>
                <li>
                    <a href="./team.html">team</a>
                </li>
                <li>
                    <a href="./contact.html">contact</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
