<section class="content content_services">
    <section class="content_heading">
        <h3 class="content-text_header">our awesome services</h3>
        <p class="content-text_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
    </section>
    <section class="container_filter__services">
        <div class="filter">
            <input id="serviceBeautyHealth" type="radio" value="spa" class="services" name="services" checked="checked"/>
            <label for="serviceBeautyHealth">
                <span class="activeLogo">
                    <img src="img/icons/spa-hover.png" alt="serviceBeautyHealth_logo"/>
                </span>
                <span class="nonActiveLogo">
                    <img src="img/icons/spa.png" alt="serviceBeautyHealth_logo"/>
                </span>
                <section class="filter_text">
                    <h3>SPA - beauty & health</h3>
                    <p>Lorem ipsum dolor frsit frtgamet, consectetur adipisicing elit, sed do eiusm tempor doloreut</p>
                </section>
            </label>
            <input id="serviceSwimmingPool" type="radio" value="swim" class="services" name="services"/>
            <label for="serviceSwimmingPool">
                <span class="activeLogo">
                    <img src="img/icons/swim-hover.png" alt="swimmingPool_logo"/>
                </span>
                <span class="nonActiveLogo">
                    <img src="img/icons/swim.png" alt="swimmingPool_logo"/>
                </span>
                <section class="filter_text">
                    <h3>Swimming pool</h3>
                    <p>Lorem ipsum dolor frsit frtgamet, consectetur adipisicing elit, sed do eiusm tempor doloreut</p>
                </section>
            </label>
            <input id="serviceRestaurant" type="radio" value="restaurant" class="services" name="services"/>
            <label for="serviceRestaurant">
                <span class="activeLogo">
                    <img src="img/icons/restaurent-hover.png" alt="Restaurant_logo"/>
                </span>
                <span class="nonActiveLogo">
                    <img src="img/icons/restaurent.png" alt="Restaurant_logo"/>
                </span>
                <section class="filter_text">
                    <h3>Restaurant</h3>
                    <p>Lorem ipsum dolor frsit frtgamet, consectetur adipisicing elit, sed do eiusm tempor doloreut</p>
                </section>
            </label>
            <input id="serviceConference" type="radio" value="conference" class="services" name="services"/>
            <label for="serviceConference">
                <span class="activeLogo">
                    <img src="img/icons/conference-hover.png" alt="Conference_logo"/>
                </span>
                <span class="nonActiveLogo">
                    <img src="img/icons/conference.png" alt="Conference_logo"/>
                </span>
                <section class="filter_text">
                    <h3>Conference</h3>
                    <p>Lorem ipsum dolor frsit frtgamet, consectetur adipisicing elit, sed do eiusm tempor doloreut</p>
                </section>
            </label>
        </div>
        <div class="filter-result">
            <img src="../img/banner/1.jpg" class="active_img" id="spa" alt="spa"/>
            <img src="../img/banner/2.jpg" id="swim" alt="swim"/>
            <img src="../img/banner/3.jpg" id="restaurant" alt="restaurant"/>
            <img src="../img/banner/1.jpg" id="conference" alt="conference"/>
        </div>
    </section>
</section>
