<section class="content content_services">
    <section class="content_heading">
        <h3 class="content-text_header">NEAR NICE PLACES</h3>
        <p class="content-text_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
    </section>
    <section class="container_content__grid">
        <div class="place">
            <div class="photo">
                <div class="gallery-img_overlay">
                    <i class="fas fa-link"></i>
                </div>
                <img src="img/location/1.jpg" alt="footer-3">
            </div>
            <h3 class="content-text_header">Near Place Dummy Title</h3>
            <div class="wrapper">
                <p class="content-text_description">East Road, London</p>
                <p class="content-text_description">1 kilometers</p>
            </div>
        </div>
        <div class="place">
            <div class="photo">
                <div class="gallery-img_overlay">
                    <i class="fas fa-link"></i>
                </div>
                <img src="img/location/2.jpg" alt="footer-3">
            </div>
            <h3 class="content-text_header">Near Place Dummy Title</h3>
            <div class="wrapper">
                <p class="content-text_description">East Road, London</p>
                <p class="content-text_description">1 kilometers</p>
            </div>
        </div>
        <div class="place">
            <div class="photo">
                <div class="gallery-img_overlay">
                    <i class="fas fa-link"></i>
                </div>
                <img src="img/location/3.jpg" alt="footer-3">
            </div>
            <h3 class="content-text_header">Near Place Dummy Title</h3>
            <div class="wrapper">
                <p class="content-text_description">East Road, London</p>
                <p class="content-text_description">1 kilometers</p>
            </div>
        </div>
        <div class="place">
            <div class="photo">
                <div class="gallery-img_overlay">
                    <i class="fas fa-link"></i>
                </div>
                <img src="img/location/4.jpg" alt="footer-3">
            </div>
            <h3 class="content-text_header">Near Place Dummy Title</h3>
            <div class="wrapper">
                <p class="content-text_description">East Road, London</p>
                <p class="content-text_description">1 kilometers</p>
            </div>
        </div>
        <div class="place">
            <div class="photo">
                <div class="gallery-img_overlay">
                    <i class="fas fa-link"></i>
                </div>
                <img src="img/location/5.jpg" alt="footer-3">
            </div>
            <h3 class="content-text_header">Near Place Dummy Title</h3>
            <div class="wrapper">
                <p class="content-text_description">East Road, London</p>
                <p class="content-text_description">1 kilometers</p>
            </div>
        </div>
        <div class="place">
            <div class="photo">
                <div class="gallery-img_overlay">
                    <i class="fas fa-link"></i>
                </div>
                <img src="img/location/6.jpg" alt="footer-3">
            </div>
            <h3 class="content-text_header">Near Place Dummy Title</h3>
            <div class="wrapper">
                <p class="content-text_description">East Road, London</p>
                <p class="content-text_description">1 kilometers</p>
            </div>
        </div>
    </section>
</section>
