<section class="content content_gallery">
    <section class="content_heading">
        <h3 class="content-text_header">our pricing</h3>
        <p class="content-text_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
    </section>
    <section class="container_pricing">
        <div class="container_price-block">
            <div class="wrapper">
                <h3>Silver pack</h3>
            <div class="price-block_price">
                <sup>$</sup>
                <p class="price_price">150</p>
                <sub>/per night</sub>
            </div>
            <ul class="price-block_services">
                <li class="price-block_service__include">Flight Ticket</li>
                <li class="price-block_service__include">Music Concert (30% Off)</li>
                <li class="price-block_service__include">Restaurant (Lunch)</li>
                <li class="price-block_service__nonInclude">Treatment</li>
                <li class="price-block_service__nonInclude">Face Make</li>
            </ul>
            <button class="main-button">
                <span class="main-button_background"></span>
                <p class="button_text">sign up</p>
            </button>
            </div>
        </div>
        <div class="container_price-block">
            <div class="wrapper">
                <h3>Gold pack</h3>
            <div class="price-block_price">
                <sup>$</sup>
                <p class="price_price">250</p>
                <sub>/per night</sub>
            </div>
            <ul class="price-block_services">
                <li class="price-block_service__include">Flight Ticket</li>
                <li class="price-block_service__include">Music Concert (30% Off)</li>
                <li class="price-block_service__include">Restaurant (Lunch)</li>
                <li class="price-block_service__include">Treatment</li>
                <li class="price-block_service__nonInclude">Face Make</li>
            </ul>
            <button class="main-button">
                <span class="main-button_background"></span>
                <p class="button_text">sign up</p>
            </button>
            </div>
        </div>
        <div class="container_price-block">
            <div class="wrapper">
                <h3>diamond pack</h3>
            <div class="price-block_price">
                <sup>$</sup>
                <p class="price_price">350</p>
                <sub>/per night</sub>
            </div>
            <ul class="price-block_services">
                <li class="price-block_service__include">Flight Ticket</li>
                <li class="price-block_service__include">Music Concert (30% Off)</li>
                <li class="price-block_service__include">Restaurant (Lunch)</li>
                <li class="price-block_service__include">Treatment</li>
                <li class="price-block_service__include">Face Make</li>
            </ul>
            <button class="main-button">
                <span class="main-button_background"></span>
                <p class="button_text">sign up</p>
            </button>
            </div>
        </div>
    </section>
</section>
