<div class="content content__rooms">
    <section class="content_heading">
        <h3 class="content-text_header">our favourite rooms</h3>
        <p class="content-text_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
    </section>
    <div class="content_container rooms">
        <div class="room">
            <a href="#" class="room_background" style="background-image: url('img/room/h-1.jpg')"></a>
            <div class="hover_room">
                <div class="hover-text">
                    <h3><a href="#">Single Room</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor</p>
                    <button class="main-button main-button__white">
                        <div class="main-button_background"></div>
                        <a href="./details.html" class="button_text">DETAILS</a>
                    </button>
                </div>
                <div class="p-amount">
                    <span>$100</span>
                    <span class="count">Per Night</span>
                </div>
            </div>
        </div>
        <div class="room">
            <a href="#" class="room_background" style="background-image: url('img/room/h-2.jpg')"></a>
            <div class="hover_room">
                <div class="hover-text">
                    <h3><a href="room-details.html">Royal Room</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor</p>
                    <button class="main-button main-button__white">
                        <div class="main-button_background"></div>
                        <a href="./details.html" class="button_text">DETAILS</a>
                    </button>
                </div>
                <div class="p-amount">
                    <span>$300</span>
                    <span class="count">Per Night</span>
                </div>
            </div>
        </div>
        <div class="room">
            <a href="#" class="room_background" style="background-image: url('img/room/h-3.jpg')"></a>
            <div class="hover_room">
                <div class="hover-text">
                    <h3><a href="room-details.html">President Room</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor</p>
                    <button class="main-button main-button__white">
                        <div class="main-button_background"></div>
                        <a href="./details.html" class="button_text">DETAILS</a>
                    </button>
                </div>
                <div class="p-amount">
                    <span>$600</span>
                    <span class="count">Per Night</span>
                </div>
            </div>
        </div>
        <div class="room">
            <a href="#" class="room_background" style="background-image: url('img/room/h-4.jpg')"></a>
            <div class="hover_room">
                <div class="hover-text">
                    <h3><a href="room-details.html">Double Room</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor</p>
                    <button class="main-button main-button__white">
                        <div class="main-button_background"></div>
                        <a href="./details.html" class="button_text">DETAILS</a>
                    </button>
                </div>
                <div class="p-amount">
                    <span>$300</span>
                    <span class="count">Per Night</span>
                </div>
            </div>
        </div>
    </div>
</div>
