<section class="content content_services">
    <section class="content_heading">
        <h3 class="content-text_header">our rooms</h3>
        <p class="content-text_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
    </section>
    <section class="container_content__grid">
        <div class="rooms-grid_room">
            <img src="img/room/h-1.jpg" alt="rooms-grid-1">
            <div class="hover_text">
                <h3>single room</h3>
                <p class="room-price">
                    <span>$200</span> Per night
                </p>
                <p class="room_descr">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                </p>
                <button class="main-button slider_button">
                    <span class="main-button_background"></span>
                    <a href="./details.html" class="button_text">details</a>
                </button>
            </div>
        </div>
        <div class="rooms-grid_room">
            <img src="img/room/h-2.jpg" alt="rooms-grid-2">
            <div class="hover_text">
                <h3>single room</h3>
                <p class="room-price">
                    <span>$200</span> Per night
                </p>
                <p class="room_descr">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                </p>
                <button class="main-button slider_button">
                    <div class="main-button_background"></div>
                    <a href="./details.html" class="button_text">DETAILS</a>
                </button>
            </div>
        </div>
        <div class="rooms-grid_room">
            <img src="img/room/h-3.jpg" alt="rooms-grid-3">
            <div class="hover_text">
                <h3>single room</h3>
                <p class="room-price">
                    <span>$200</span> Per night
                </p>
                <p class="room_descr">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                </p>
                <button class="main-button slider_button">
                    <div class="main-button_background"></div>
                    <a href="./details.html" class="button_text">DETAILS</a>
                </button>
            </div>
        </div>
        <div class="rooms-grid_room">
            <img src="img/room/h-4.jpg" alt="rooms-grid-4">
            <div class="hover_text">
                <h3>single room</h3>
                <p class="room-price">
                    <span>$200</span> Per night
                </p>
                <p class="room_descr">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                </p>
                <button class="main-button slider_button">
                    <div class="main-button_background"></div>
                    <a href="./details.html" class="button_text">DETAILS</a>
                </button>
            </div>
        </div>
        <div class="rooms-grid_room">
            <img src="img/room/h-5.jpg" alt="rooms-grid-5">
            <div class="hover_text">
                <h3>single room</h3>
                <p class="room-price">
                    <span>$200</span> Per night
                </p>
                <p class="room_descr">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                </p>
                <button class="main-button slider_button">
                    <div class="main-button_background"></div>
                    <a href="./details.html" class="button_text">DETAILS</a>
                </button>
            </div>
        </div>
        <div class="rooms-grid_room">
            <img src="img/room/h-6.jpg" alt="rooms-grid-6">
            <div class="hover_text">
                <h3>single room</h3>
                <p class="room-price">
                    <span>$200</span> Per night
                </p>
                <p class="room_descr">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                </p>
                <button class="main-button slider_button">
                    <div class="main-button_background"></div>
                    <a href="./details.html" class="button_text">DETAILS</a>
                </button>
            </div>
        </div>
    </section>
</section>
