<section class="container_content">
    <main>
        <div class="slider_gallery">
            <div class="big-images">
                <img class="big-images_img active" src="img/room/l-1.jpg" name="l-1.jpg" alt="big-image-room"/>
                <img class="big-images_img" src="img/room/l-2.jpg" name="l-2.jpg" alt="big-image-room"/>
                <img class="big-images_img" src="img/room/l-3.jpg" name="l-3.jpg" alt="big-image-room"/>
                <img class="big-images_img" src="img/room/l-4.jpg" name="l-4.jpg" alt="big-image-room"/>
                <img class="big-images_img" src="img/room/l-5.jpg" name="l-5.jpg" alt="big-image-room"/>
                <span id="room-price">135$<br>/per Night</span>
            </div>
            <div class="sm-images">
                <span class="sm-images__prev prev fa fa-chevron-left sm-images__disabled"></span>
                <img class="sm-images_img active" src="img/room/s-1.jpg" name="l-1.jpg" alt="sm-image-room"/>
                <img class="sm-images_img active" src="img/room/s-2.jpg" name="l-2.jpg" alt="sm-image-room"/>
                <img class="sm-images_img active" src="img/room/s-3.jpg" name="l-3.jpg" alt="sm-image-room"/>
                <img class="sm-images_img" src="img/room/s-4.jpg" name="l-4.jpg" alt="sm-image-room"/>
                <img class="sm-images_img" src="img/room/s-5.jpg" name="l-5.jpg" alt="sm-image-room"/>
                <span class="sm-image__next next fa fa-chevron-right"></span>
            </div>
        </div>
        <section class="wrapper-vert" id="room-description">
            <h2 class="column_header">description of room</h2>
            <p class="content-text_description">Lorem ipsum dolor sit amet, consectetur adipisi cing elit, sed do eius
                mod tempor incididunt ut labore et dolore magna aliqua. Ut the enim ad minim veniam, quis nostrud exer
                citation ullamco laboris nisi ut aliquip ex ea com modo conse quat. Duis aute irure dolor in reprehend
                erit in volupt ate velit esse cillum dolore eu fugiat nulla pari atur. Except eur sint occa ecat cupi
                datat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis
                unde omnis iste natus error sit volup tatem accusantium the doloremque lauda ntium, totam rem aper iam,
                eaque ipsa quae

            <p class="content-text_description">Nemo enim ipsam voluptatem quia volu ptas sit asper natur aut odit aut
                fugit, sed quia consequ untur
                magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolo rem ipsum
                quia dolor sit amet, conse ctetur, adipisci velit, sed quia a non numquam eius modi tempora incidunt ut
                labore et dolore magnam aliquam quaerat voluptatem.</p>

            <p class="content-text_description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incidi dunt ut labore et
                dolore magna aliqua. Ut new newenim ad im veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip</p>
        </section>
        <section class="wrapper-vert" id="room-services">
            <h2 class="column_header">room facilities</h2>
            <ul>
                <li class="room-service active">Single Room</li>
                <li class="room-service active">70 sq mt</li>
                <li class="room-service active">3 persons</li>
                <li class="room-service active">Free Internet</li>
                <li class="room-service active">Breakfast include</li>
                <li class="room-service">Free Wi-Fi</li>
                <li class="room-service active">Private Balcony</li>
                <li class="room-service active">Free Newspaper</li>
                <li class="room-service active">Full AC</li>
                <li class="room-service">Flat screen TV</li>
                <li class="room-service active">Beach View</li>
                <li class="room-service">Room Service</li>
            </ul>
        </section>
    </main>
    <aside>
        <form class="form aside_column">

            <h2 class="column_header">your reservation</h2>
            <div class="select select__date">
                <input id="arrive_data" name="arrive_data" class="form_select__date reservation-form_select__date"
                       placeholder="Arrive date" required="required" autocomplete="off"/>
            </div>
            <div class="select select__date">
                <input id="departurer_data" name="departurer_data"
                       class="form_select__date reservation-form_select__date"
                       placeholder="Departure date" required="required" autocomplete="off"/>
            </div>
            <div class="select">
                <select name="adults" id="adults" class="reservation-form_select">
                    <option>adults</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="select">
                <select name="children" id="children" class="reservation-form_select">
                    <option>childrens</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <button type="submit" class="main-button main-button__black">
                <span class="main-button_background"></span>
                <p class="button_text">Check availability</p>
            </button>
        </form>
        <section class="aside_column" id="aside_contacts">
            <p class="content-text_description">if you have any question please don't hesitate to contact us</p>
            <div class="wrapper">
                <i class="fas fa-envelope"></i>
                <div class="wrapper-vert">
                    <a href="mailto:devitems@gmail.com" class="content-text_description">devitems@gmail.com</a>
                    <a href="mailto:support@devitems.com" class="content-text_description">support@devitems.com</a>
                </div>
            </div>
            <div class="wrapper">
                <i class="fas fa-phone"></i>
                <div class="wrapper-vert">
                    <a href="tel:+66025624857" class="content-text_description">+660 256 24857</a>
                    <a href="tel:+66025624857" class="content-text_description">+660 256 24857</a>
                </div>
            </div>
        </section>
    </aside>
</section>
<div class="wrapper-vert" id="similar-rooms">
    <h2 class="column_header">room facilities</h2>
    <div class="content_container rooms">
        <div class="room">
            <a href="#" class="room_background" style="background-image: url('img/room/h-1.jpg')"></a>
            <div class="hover_room">
                <div class="hover-text">
                    <h3><a href="./details.html">Single Room</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor</p>
                    <button class="main-button main-button__white">
                        <div class="main-button_background"></div>
                        <a href="./details.html" class="button_text">DETAILS</a>
                    </button>
                </div>
                <div class="p-amount">
                    <span>$100</span>
                    <span class="count">Per Night</span>
                </div>
            </div>
        </div>
        <div class="room">
            <a href="#" class="room_background" style="background-image: url('img/room/h-2.jpg')"></a>
            <div class="hover_room">
                <div class="hover-text">
                    <h3><a href="./details.html">Royal Room</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor</p>
                    <button class="main-button main-button__white">
                        <div class="main-button_background"></div>
                        <a href="./details.html" class="button_text">DETAILS</a>
                    </button>
                </div>
                <div class="p-amount">
                    <span>$300</span>
                    <span class="count">Per Night</span>
                </div>
            </div>
        </div>
        <div class="room">
            <a href="#" class="room_background" style="background-image: url('img/room/h-3.jpg')"></a>
            <div class="hover_room">
                <div class="hover-text">
                    <h3><a href="./details.html">President Room</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor</p>
                    <button class="main-button main-button__white">
                        <div class="main-button_background"></div>
                        <a href="./details.html" class="button_text">DETAILS</a>
                    </button>
                </div>
                <div class="p-amount">
                    <span>$600</span>
                    <span class="count">Per Night</span>
                </div>
            </div>
        </div>
        <div class="room">
            <a href="#" class="room_background" style="background-image: url('img/room/h-4.jpg')"></a>
            <div class="hover_room">
                <div class="hover-text">
                    <h3><a href="./details.html">Double Room</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor</p>
                    <button class="main-button main-button__white">
                        <div class="main-button_background"></div>
                        <a href="./details.html" class="button_text">DETAILS</a>
                    </button>
                </div>
                <div class="p-amount">
                    <span>$300</span>
                    <span class="count">Per Night</span>
                </div>
            </div>
        </div>
    </div>
</div>
