<section class="slider">
    <span class="slider prev fa fa-chevron-left"></span>
    <div class="slide slide__enabled">
        <div class="slide_text">
            <h2>welcome to hotel atr</h2>
            <p class="slide_praragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.</p>
            <button class="main-button slider_button"><span class="main-button_background"></span>
                <p class="button_text">Explore</p></button>
        </div>
        <img src="img/slider/1.jpg" alt="slider_image" class="slide_image">
    </div>
    <div class="slide slide__disabled">
        <div class="slide_text">
            <h2>welcome to hotel atr</h2>
            <p class="slide_praragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.</p>
            <button class="main-button slider_button"><span class="main-button_background"></span>
                <p class="button_text">Explore</p></button>
        </div>
        <img src="img/slider/2.jpg" alt="slider_image" class="slide_image">
    </div>
    <div class="slide slide__disabled">
        <div class="slide_text">
            <h2>welcome to hotel atr</h2>
            <p class="slide_praragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.</p>
            <button class="main-button slider_button"><span class="main-button_background"></span>
                <p class="button_text">Explore</p></button>
        </div>
        <img src="img/slider/2.jpg" alt="slider_image" class="slide_image">
    </div>
    <div class="slide slide__disabled">
        <div class="slide_text">
            <h2>welcome to hotel atr</h2>
            <p class="slide_praragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.</p>
            <button class="main-button slider_button"><span class="main-button_background"></span>
                <p class="button_text">Explore</p></button>
        </div>
        <img src="img/slider/2.jpg" alt="slider_image" class="slide_image">
    </div>
    <div class="slide slide__disabled">
        <div class="slide_text">
            <h2>welcome to hotel atr</h2>
            <p class="slide_praragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.</p>
            <button class="main-button slider_button"><span class="main-button_background"></span>
                <p class="button_text">Explore</p></button>
        </div>
        <img src="img/slider/2.jpg" alt="slider_image" class="slide_image">
    </div>
    <div class="slide slide__disabled">
        <div class="slide_text">
            <h2>welcome to hotel atr</h2>
            <p class="slide_praragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.</p>
            <button class="main-button slider_button"><span class="main-button_background"></span>
                <p class="button_text">Explore</p></button>
        </div>
        <img src="img/slider/2.jpg" alt="slider_image" class="slide_image">
    </div>
    <span class="slider next fa fa-chevron-right"></span>
</section>
