<section class="content content_services">
    <section class="content_heading">
        <h3 class="content-text_header">Our team</h3>
        <p class="content-text_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
    </section>
    <section class="container_content__grid">
        <div class="member">
            <img src="img/team/1.jpg" alt="team-member">
            <div class="member-descr">
                <h3 class="member-name">Gemma artenton</h3>
                <p class="content-text_description">(Chief)</p>
                <p class="content-text_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt</p>
                <div class="social-icons">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-pinterest-p"></i>
                </div>
            </div>
        </div>
        <div class="member">
            <img src="img/team/2.jpg" alt="team-member">
            <div class="member-descr">
                <h3 class="member-name">Gemma artenton</h3>
                <p class="content-text_description">(Chief)</p>
                <p class="content-text_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt</p>
                <div class="social-icons">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-pinterest-p"></i>
                </div>
            </div>
        </div>
        <div class="member">
            <img src="img/team/3.jpg" alt="team-member">
            <div class="member-descr">
                <h3 class="member-name">Gemma artenton</h3>
                <p class="content-text_description">(Chief)</p>
                <p class="content-text_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt</p>
                <div class="social-icons">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-pinterest-p"></i>
                </div>
            </div>
        </div>
        <div class="member">
            <img src="img/team/4.jpg" alt="team-member">
            <div class="member-descr">
                <h3 class="member-name">Gemma artenton</h3>
                <p class="content-text_description">(Chief)</p>
                <p class="content-text_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt</p>
                <div class="social-icons">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-pinterest-p"></i>
                </div>
            </div>
        </div>
        <div class="member">
            <img src="img/team/5.jpg" alt="team-member" align="middle">
            <div class="member-descr">
                <h3 class="member-name">Gemma artenton</h3>
                <p class="content-text_description">(Chief)</p>
                <p class="content-text_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt</p>
                <div class="social-icons">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-pinterest-p"></i>
                </div>
            </div>
        </div>
        <div class="member">
            <img src="img/team/1.jpg" alt="team-member">
            <div class="member-descr">
                <h3 class="member-name">Gemma artenton</h3>
                <p class="content-text_description">(Chief)</p>
                <p class="content-text_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt</p>
                <div class="social-icons">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-pinterest-p"></i>
                </div>
            </div>
        </div>
    </section>
</section>
