<section class="content-block">
    <img src="img/banner/4.jpg" alt="about-us_banner" class="content-picture">
    <div class="content-text">
        <h2 class="content-text_header">About US</h2>
        <p class="content-text_description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Utjij enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi utjjij
            aliquip ex ea commodo consequat.
        </p>
        <p class="content-text_description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
        </p>
        <p class="content-text_description">
            Fipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
        </p>
    </div>
</section>
